body {margin: 0; padding: 0;}
	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/12/2018 07:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("fonts/videocall/Flaticon.eot");
  src: url("fonts/videocall/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/videocall/Flaticon.woff") format("woff"),
       url("fonts/videocall/Flaticon.ttf") format("truetype"),
       url("fonts/videocall/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/videocall/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
       /*  font-size: 20px;
font-style: normal;
margin-left: 20px; */
}

.flaticon-phone:before { content: "\f100"; }
.flaticon-phone-hang-up:before { content: "\f101"; }

#remotes video {width: 100%; position: fixed; margin: 0  auto; left: 0; right: 0; object-fit:cover !important; overflow: hidden; pointer-events:none;  }
.videoContainer #localVideo {position: absolute !important; z-index: 999 !important; right:165px !important; width: 15% !important; top: 30px; object-fit:cover !important; }
.videoContainer {padding: 0 !important;}
video#template {display: none !important;}
.iconsBlk {    width: 100% !important; padding: 10px !important; display: block; position: absolute; margin: 0 auto; bottom: 20px; text-align: center; z-index: 1}
.iconsBlk a {padding:20px 30px; color: #fff !important; font-size:20px; border-radius:100px !important}
.iconsBlk .endCall {background: #E40000}
.iconsBlk .recieveCall {background: #5EAB00}

@media (max-width: 768px){
	.iconsBlk {bottom: 130px}
	.videoContainer #localVideo {
    right: 18px!important;
    top: 30px !important;
    width: 30% !important;
    object-fit:fill !important;
    
}

#remotes video {object-fit:cover !important; height: 100vh !important; position: absolute; pointer-events:none;}

.tabl {height: 100% !important;}
}